@import '../../App.css';

.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
    margin: 5rem auto;
    padding: 2.5rem;
    color: var(--white);
}

.gridContainer span {
    display: block;
    font-weight: bold;
    padding: .25rem .25rem;
    height: 10vh;
}

.gridContainer span:last-child {
    padding-bottom: 1rem;
}

.gridContainer label {
    text-transform: capitalize;
    font-weight: normal;
}